<?xml version="1.0"?>
<config>
    <modules>
        <People_Register>
            <version>0.1.0</version>    <!-- Version number of your module -->
        </People_Register>
    </modules>
    <global>
    	<models>
			<register>
				<class>People_Register_Model</class>
				<resourceModel>register_resource</resourceModel>
			</register>
			<register_resource>
				<class>People_Register_Model_Resource</class>
				<entities>
					<register>
						<table>register</table>
					</register>
				</entities>
			</register_resource>
		</models>
    
    </global>
    
    
    <frontend>
        <routers>
            <register>
                <use>standard</use>
                <args>
                    <module>People_Register</module>
                    <frontName>register</frontName>
                </args>
            </register>
        </routers>
        <layout>
            <updates>
                <register>
                    <file>register.xml</file>
                </register>
            </updates>
        </layout>         
    </frontend>
</config>