<?xml version="1.0"?>
<config>
    <modules>
        <People_Register>
            <version>0.1.0</version>    <!-- Version number of your module -->
        </People_Register>
    </modules>
    <frontend>
        <routers>
            <default>
                <use>standard</use>
                <args>
                    <module>People_Register</module>
                    <frontName>register</frontName>
                </args>
            </default>
        </routers>
        <translate>
            <modules>
                <People_Register>
                    <files>
                        <default>People_Register.csv</default>
                    </files>
                </People_Register>
            </modules>
        </translate>
        <layout>
            <updates>
                <register>
                    <file>register.xml</file>
                </register>
            </updates>
        </layout>         
    </frontend>
    <global>
        <resources>
            <register_setup>
                <setup>
                    <module>People_Register</module>
                </setup>
            </register_setup>
        </resources>
        <template>
            <email>
                <register_email_email_template translate="label" module="register">
                    <label>Registration Form</label>
                    <file>registration_form.html</file>
                    <type>text</type>
                </register_email_email_template>
            </email>
        </template>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <People_Register>
                    <files>
                        <default>People_Register.csv</default>
                    </files>
                </People_Register>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <register>
            <register>
                <enabled>1</enabled>
            </register>
            <email>
                <recipient_email><![CDATA[hello@example.com]]></recipient_email>
                <sender_email_identity>custom2</sender_email_identity>
                <email_template>register_email_email_template</email_template>
            </email>
        </register>
    </default>
   </config>